.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list .note {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list .note input[type="checkbox"] {
  border-radius: 6px;
}

.todo-list .note .delete-icon {
  cursor: pointer;
}
